.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #f5f4fa;
  --lodo-color: #000000;
  --background: #2f303a;
  --social: #afb1b8;
  --background-section: #e5e5e5;
  --border-color:#eeeeee;
  --background-color-work:rgba(47, 48, 58, 0.8);
  --background-color-modal:rgba(0, 0, 0, 0.2);
  --model-shadov:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2)
  --background-overlay: rgba(33, 150, 243, 0.9);
  --header-border-boottom:#ECECEC;
  --box-shadow-team:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-button:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --border-input-footer: rgba(255, 255, 255, 0.3);
  --placeholder-footer: rgba(255, 255, 255, 0.6);
  --placeholder-model: rgba(117, 117, 117, 0.5);
  --butoon-hover:#188CE8;
  --butoon-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) ;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  text-decoration: none;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--lodo-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo {
  margin-right: 93px;
}

.button {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .button {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    margin-bottom: 50px;
  }
}

.button__btn-send:hover {
  background-color: var(--butoon-hover);
}

.button__item {
  margin-bottom: 15px;
}

.button__item + .button__item {
  margin-left: 8px;
}

.hero__btn, .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
}

.modal__btn {
  display: flex;
  justify-content: center;
}

.modal__btn-send {
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-send:hover {
  background-color: var(--butoon-hover);
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__text:hover, .button__text:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--shadow-button);
}

.footer-social__btn {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  padding: 10px 29px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.section__other-background {
  background-color: var(--button-color);
}

.footer {
  background-color: var(--background);
  padding: 60px 0;
}

.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.socials__footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link-foote {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link-foote:hover, .socials__link-foote:focus {
  background-color: var(--accent-color);
}

.container-footer {
  text-align: center;
  border-radius: 0px 0px 4px;
}
@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .footer-social__contact {
    width: calc((100% - 90px) / 2);
    margin: 15px;
    margin-bottom: 60px;
  }
}

.footer-contact__text {
  color: var(--primary-white-color);
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .footer-social__onlin {
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social__onlin {
    text-align: left;
  }
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__item {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.footer-social__input {
  margin-bottom: 20px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--border-input-footer);
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--primary-white-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__input:focus {
  border-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
  align-items: center;
}

.footer-social__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--placeholder-footer);
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Raleway;
  color: var(--primary-white-color);
}

.logo-item {
  margin-bottom: 20px;
}

address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.modal {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: var(--model-shadov);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__input-svg {
  position: relative;
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__form-field + .modal__form-field {
  margin-top: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  resize: none;
  outline: none;
  color: var(--primary-text-color);
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover {
  fill: var(--accent-color);
}

.modal__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__check-text {
  fill: transparent;
}

.modal__check:checked + .modal__input-svg {
  position: relative;
}

.modal__check:checked + .modal__check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal__check:checked + .modal__check-text svg {
  fill: var(--primary-white-color);
}

.modal__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal__check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  margin-bottom: 4px;
  display: block;
}

.moda__text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-model);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--background-color-modal);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.checkbox-field {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .about__item:not(last-child) {
    margin-bottom: 30px;
  }
}

.about__box {
  background-color: var(--button-color);
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section__no-padding-top {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section__no-padding-top {
    display: none;
  }
}

.works {
  display: flex;
}

.works__item + .works__item {
  margin-left: 30px;
}

.works__item {
  position: relative;
}

.works__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: var(--background-color-work);
  color: var(--primary-white-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    margin: -15px;
  }
}

.clients__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.clients__link {
  border: 1px solid var(--social);
  border-radius: 4px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  fill: var(--social);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.content__item {
  margin-left: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
@media screen and (min-width: 768px) {
  .content__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .content__item {
    width: calc(33.3333333333% - 30px);
  }
}

.content__img {
  max-width: 100%;
  height: auto;
}

.content__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.content__box {
  position: relative;
  overflow: hidden;
}

.content__link:focus,
.content__link:hover,
.content__link:hover .content__wrap,
.content__link:focus .content__wrap {
  display: block;
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content__overlay-text {
  position: absolute;
  padding: 30px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.content__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-border-boottom);
}

.auth-nav__item {
  fill: currentColor;
}

.auth-nav__icon {
  margin-right: 10px;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link.current {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .auth-nav__link:not(last-child) {
    margin-bottom: 10px;
  }
}

.auth-nav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
  }
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.site-nav-link__current::after {
  content: "";
  left: 0;
  bottom: -31px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link {
  display: flex;
  color: var(--title-text-color);
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .auth-nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__btn-open {
  width: 44px;
  height: 44px;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  right: 22px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__btn-open:hover {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mob-menu__btn-open {
    display: none;
  }
}

.mob-menu__icon-close {
  width: 44px;
  height: 44px;
  background-color: transparent;
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__icon-close:hover {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  background-color: var(--primary-white-color);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
}
.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__item-tell {
  margin-bottom: 32px;
}

.mob-contacts__link-tell {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contacts__item-mail {
  margin-bottom: 64px;
}

.mob-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mob-soc {
  display: flex;
  padding-bottom: 40px;
}

.mob-soc__item {
  color: var(--accent-color);
}

.mob-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagas/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  background-color: var(--background);
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagas/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagas/hero-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagas/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagas/hero-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagas/hero-desk-2x.jpg);
  }
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: var(--social);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    margin: -15px;
  }
}

.team__item {
  box-shadow: var(--box-shadow-team);
  border-radius: 0px 0px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(last-child) {
    margin-bottom: 30px;
  }
}

.team__item-contens {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
}

.team__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--title-text-color);
}/*# sourceMappingURL=main.css.map */