@import "./utils/vars";
@import "./utils/hidden";
@import "./utils/mixins";

@import "./base/reset";

@import "./components/container";
@import "./components/logo";
@import "./components/btn";
@import "./components/modal";
@import "./components/footer";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/contents";