.about {
  display: flex;
}

.about__box {
  background-color: var(--button-color);
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about__item {
  width: 270px;
}

.about__item + .about__item {
  margin-left: 30px;
}

.about__title {
  @include font ();
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.about__text {
  @include font ($fw:null, $lh:1.71);
  color: var(--title-text-color);
}
  
.section__no-padding-top {
  padding-top: 0;
 }

.works {
  // display: flex;
}
// .works__item + .works__item {
//   margin-left: 30px;
// }
.works__item{
  position: relative;
}
.works__text {
  @include font ();
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: var(--background-color-work);
  color: var(--primary-white-color);
}
 