.clients {
    display: flex;
    justify-content: center;
  }
  
  .clients__item {
    width: 170px;
    height: 92px;
  
    & + & {
    margin-left: 30px;
  }
  }
  
  .clients__link{
    border: 1px solid var(--social);
    border-radius: 4px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    fill: var(--social);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
    &:hover,
    &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  }