.content {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
    margin-bottom: -30px;
  } 
  .content__item {
    margin-left: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 3 - 30px);
    }
    
  } 
  
  .content__img{
    max-width: 100%;
    height: auto;
  }
  .content__description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .content__box {
    position: relative;
    overflow: hidden;
  }
  
  .content__link:focus,
  .content__link:hover,
  .content__link:hover .content__wrap,
  .content__link:focus .content__wrap {
    display: block;
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
  } 
  
  .content__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  } 
  
  .content__overlay-text{
    position: absolute;
    padding: 30px;
    @include font (null, 18px, 1.55);
    color: var(--primary-white-color);
  }
  
  .content__title {
    @include font (700, 18px, 2, 0.06em);
    color: var(--primary-text-color);
    margin-bottom: 4px;
  }
    
  .content__text {
    @include font (null, 16px, 1.9);
    color: var(--title-text-color);
  }