.header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--header-border-boottom)
  }
  
  .auth-nav__item {
    fill: currentColor;
  }
    
  .auth-nav__icon {
    margin-right: 10px;
  } 
    
  .navigation {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
  }
  .site-nav__item + .site-nav__item,
  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
  .site-nav__link:hover,
  .site-nav__link:focus,
  .site-nav__link.current  {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
  .auth-nav__link:hover,
  .auth-nav__link:focus{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link {
    position: relative;
    @include font ($fw:500, $ls:0.02em);
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    
  .site-nav__link.site-nav-link__current::after {
    content: '';
    left: 0;
    bottom: -31px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    position: absolute;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    
  .auth-nav__link {
    display: flex;
    @include font ($fw:500, $ls :0.02em);
    color: var(--title-text-color);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }