.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imagas/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  background-color: var(--background);
  text-align: center;
}
    
.hero__title {
  @include font (900, 44px, 1.36, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}