.section__other-background {
 background-color: var(--button-color);
}
.socials {
  display: flex;
  justify-content: center;
} 
.socials__item {
  width: 44px;
  height: 44px;

  & + & {
    margin-left: 10px;
  }
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: var(--social);
  transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
} 
.icon-link-footer{
  fill: var(--primary-white-color);
}   
.team__item {
  box-shadow: var(--box-shadow-team);
  border-radius: 0px 0px 4px;
  & + & {
    // margin-left: 30px;
  }
} 
.team {
  // display: flex;
}

.team__item-contens {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
} 
.team__title {
  @include font ($fz:16px, $lh:1.2);
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
} 
.team__text {
  @include font (null, 16px, 1.2);
  text-align: center;
  margin-bottom: 16px;
  color: var(--title-text-color);
}