.button {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }
  .button__btn-send:hover {
    background-color: var(--butoon-hover);
  }
  
  .hero__btn, .btn{
    @include font ( $fz:16px, $lh:1.88, $ls:0.06em);
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
  }
  .modal__btn{
    display: flex;
    justify-content: center;
  }
  .modal__btn-send{
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__btn-send:hover {
    background-color: var(--butoon-hover);
  } 
  .button__text {
    @include font (500, 16px, 1.6, );
    text-align: center;
    color: var(--primary-text-color);
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--shadow-button);
  } 
  }
  .footer-social__btn {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
    padding: 10px  29px;
  }  
  .button__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
}