.logo {
  font-family: Raleway, cursive;
  @include font ($fz:26px, $lh:1.2, null);
  color: var(--lodo-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
  
.logo__web {
  font-family: Raleway;
  @include font ($fz:26px, $lh:1.2,);
  color: var(--accent-color);
}  
.logo {
  margin-right: 93px;
}