.modal {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    min-height: 581px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: var(--model-shadov);
    padding: 40px;
    @media screen and (min-width: 480px) {
      width: 450px;
      display: block;
      resize: none;
    }
    @media screen and (min-width: 1200px) {
      width: 528px;
      display: block;
      resize: none;
    }
  }
  .modal__input-svg {
    position: relative;
  }
  
  .modal__input:focus {
    border-color: var(--accent-color);
  }
  
  .modal__input:focus + .modal__icon {
    fill: var(--accent-color);
  }
  .modal__form-field +  .modal__form-field {
    margin-top: 10px ;
  } 
  .modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-input-border);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   
  .modal__text {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid var(--modal-input-border);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    resize: none;
    outline: none;
    color: var(--primary-text-color);
  }
  .modal__btn-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
    fill: var(--accent-color);
  } 
  }
  
  
   
  .modal__check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal__check-text {
    fill: transparent;
  }
  .modal__check:checked + .modal__input-svg {
    position: relative;
  }
  
  .modal__check:checked + .modal__check-text span {
    background-color: var(--accent-color);
    border: none;
  }
  .modal__check:checked + .modal__check-text svg {
    fill: var(--primary-white-color);
  }
  .modal__link {
    color: var(--accent-color);
    text-decoration: underline;
  }
  
  .modal__title {
    @include font ($fz:20px, $lh:1.15);
    color: var(--primary-text-color);
    margin-bottom: 30px;
  }
  .modal__check-text {
    @include font (null, $lh:1.71);
    color: var(--title-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .modal__label {
    @include font (null, 12px, 1.16, 0.01em);
    color: var(--title-text-color);
    margin-bottom: 4px;
    display: block;
  }
  .moda__text::placeholder {
    @include font (null, 14px, 1.14, 0.01em);
    color: var(--placeholder-model);
  }
  
  .backdrop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: var(--background-color-modal);  
  }
    
  .backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) scale(0.8);
  }
  .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  } 
  
  .checkbox-field{
    display: flex;
    justify-content: center;
  }