p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}


img {
  display: block;
  text-decoration: none;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
