:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --button-color: #f5f4fa;
    --lodo-color: #000000;
    --background: #2f303a;
    --social: #afb1b8;
    --background-section: #e5e5e5;
    --border-color:#eeeeee;
    --background-color-work:rgba(47, 48, 58, 0.8);
    --background-color-modal:rgba(0, 0, 0, 0.2);
    --model-shadov:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2)
    --background-overlay:  rgba(33, 150, 243, 0.9);
    --header-border-boottom:#ECECEC;
    --box-shadow-team:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    --shadow-button:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --modal-input-border:  rgba(33, 33, 33, 0.2);
    --border-input-footer: rgba(255, 255, 255, 0.3);
    --placeholder-footer:  rgba(255, 255, 255, 0.6);
    --placeholder-model: rgba(117, 117, 117, 0.5);
    --butoon-hover:#188CE8;
    --butoon-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
  }

  